DB_SSL=
DB_HOST=
DB_DATABASE_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_DIALECT=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=

EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

AWS_S3_BUCKET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=